.project-line {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.project-line:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
}

.project-line span {
  display: inline-block;
  line-height: 50px;
  margin-left: 32px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.project-line-icon {
  margin-right: 20px;
  margin-top: 14px;
  transition: 0.4s all;
}

.project-line-icon-rotate {
  transform: rotate(180deg);
}

.project-sub-line {
  max-height: 0;
  transition: 0.4s all;
  overflow: hidden;
}

.project-sub-line-deployed {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  max-height: 1000px;
}

.project-sub-line > * {
  width: 100%;
}

.project-line-title {
  padding-bottom: 16px;
}

.project-line-title > span {
  display: inline-block;
  margin-right: 16px;
  min-width: 100px;
}

.sub-fields {
  overflow: hidden;
  max-height: 0;
  transition: 0.4s all;
}

.sub-fields > * {
  width: 100%;
}

.sub-fields-deployed {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
  max-height: 1000px;
}

.field-key {
  width: 20%;
  margin-right: 16px;
}

.field-value{
  width: 70%;
}

.field-button{
  float: right;
  margin-top: 12px;
}

.project-list {
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 16px;
}

.project-list-item {
  line-height: 40px;
  padding-left: 16px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.project-list-item:last-children {
  border-bottom: 0;
}

.project-list-item-icon {
  margin-top: 12px;
  margin-right: 16px;
  cursor: pointer;
}

.project-card {
  width: 99%;
  box-sizing: border-box;
  margin: 10px auto;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.project-header {
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
}

.project-model-header {

}

.project-model-header > button {
  float: right;
  margin-right: 16px;
  margin-top: 12px;
}

.project-model-row {
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

.project-model-row > * {
  margin-right: 10px;
  width: 16%;
}

.project-model-row-delete {
  float: right;
  width: auto !important;
}

.project-model-comment {
  width: 100% !important;
}

.project-include {
  border-color: #eee;
  border-radius: 6px;
  margin: 8px 0;
}

.project-include > legend{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0,0,0,.6);
}