<div class="project-line"
	 (click)="deploy('general')">
	<span>General</span>
	<mat-icon class="project-line-icon"
			  [ngClass]="{'project-line-icon-rotate': row.general}">expand_more</mat-icon>
</div>
<div class="project-sub-line"
	 [ngClass]="{'project-sub-line-deployed': row.general}">
	<mat-form-field>
		<mat-label>Base URL</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.baseUrl"
			   name="base_url">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Admin email</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.adminEmail"
			   name="admin_email">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Título por defecto</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.defaultTitle"
			   name="default_title">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Idioma del sitio</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.lang"
			   name="lang">
	</mat-form-field>
</div>
<div class="project-line"
	 (click)="deploy('db')">
	<span>Base de datos</span>
	<mat-icon class="project-line-icon"
			  [ngClass]="{'project-line-icon-rotate': row.db}">expand_more</mat-icon>
</div>
<div class="project-sub-line"
	 [ngClass]="{'project-sub-line-deployed': row.db}">
	<div class="project-line-title">
		<span>Acceso a Base de datos</span>
		<mat-slide-toggle [checked]="projectConfiguration.hasDB"
						  (change)="changeHasDB()"></mat-slide-toggle>
	</div>
	<mat-form-field>
		<mat-label>Host</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.dbHost"
			   name="db_host"
			   [disabled]="!projectConfiguration.hasDB">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Nombre de la BD</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.dbName"
			   name="db_name"
			   [disabled]="!projectConfiguration.hasDB">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Usuario</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.dbUser"
			   name="db_user"
			   [disabled]="!projectConfiguration.hasDB">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Contraseña</mat-label>
		<input type="password"
			   matInput
			   [(ngModel)]="projectConfiguration.dbPass"
			   name="db_pass"
			   [disabled]="!projectConfiguration.hasDB">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Charset</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.dbCharset"
			   name="db_charset"
			   [disabled]="!projectConfiguration.hasDB">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Collate</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.dbCollate"
			   name="db_collate"
			   [disabled]="!projectConfiguration.hasDB">
	</mat-form-field>
</div>
<div class="project-line"
	 (click)="deploy('cookies')">
	<span>Cookies</span>
	<mat-icon class="project-line-icon"
			  [ngClass]="{'project-line-icon-rotate': row.cookies}">expand_more</mat-icon>
</div>
<div class="project-sub-line"
	 [ngClass]="{'project-sub-line-deployed': row.cookies}">
	<mat-form-field>
		<mat-label>Prefijo de las cookies</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.cookiesPrefix"
			   name="cookies_prefix">
	</mat-form-field>
	<mat-form-field>
		<mat-label>URL de las cookies</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.cookiesUrl"
			   name="cookies_url">
	</mat-form-field>
</div>
<div class="project-line"
	 (click)="deploy('errors')">
	<span>Errores</span>
	<mat-icon class="project-line-icon"
			  [ngClass]="{'project-line-icon-rotate': row.errors}">expand_more</mat-icon>
</div>
<div class="project-sub-line"
	 [ngClass]="{'project-sub-line-deployed': row.errors}">
	<mat-form-field>
		<mat-label>URL página de error 403</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.error403"
			   name="error_403">
	</mat-form-field>
	<mat-form-field>
		<mat-label>URL página de error 404</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.error404"
			   name="error_404">
	</mat-form-field>
	<mat-form-field>
		<mat-label>URL página de error 500</mat-label>
		<input matInput
			   [(ngModel)]="projectConfiguration.error500"
			   name="error_500">
	</mat-form-field>
</div>
<div class="project-line"
	 (click)="deploy('css')">
	<span>CSS</span>
	<mat-icon class="project-line-icon"
			  [ngClass]="{'project-line-icon-rotate': row.css}">expand_more</mat-icon>
</div>
<div class="project-sub-line"
	 [ngClass]="{'project-sub-line-deployed': row.css}">
	<div>
		<mat-form-field class="field-value">
			<mat-label>CSS</mat-label>
			<input matInput
				   [(ngModel)]="newItem.css"
				   name="new_css">
		</mat-form-field>
		<button mat-raised-button
				color="primary"
				class="field-button"
				(click)="addNew('css')"
				[disabled]="newItem.css==''">Añadir</button>
	</div>
	<div class="project-list">
		<div class="project-list-item"
			 *ngFor="let item of projectConfigurationLists.css; let i = index">
			{{item}}
			<mat-icon class="project-list-item-icon"
					  (click)="deleteNew('css', i)">close</mat-icon>
		</div>
		<div class="project-list-item"
			 *ngIf="projectConfigurationLists.css.length==0">
			No hay ningún elemento.
		</div>
	</div>
	<div>
		<mat-form-field class="field-value">
			<mat-label>CSS Externos</mat-label>
			<input matInput
				   [(ngModel)]="newItem.cssExt"
				   name="new_css_ext">
		</mat-form-field>
		<button mat-raised-button
				color="primary"
				class="field-button"
				(click)="addNew('cssExt')"
				[disabled]="newItem.cssExt==''">Añadir</button>
	</div>
	<div class="project-list">
		<div class="project-list-item"
			 *ngFor="let item of projectConfigurationLists.cssExt; let i = index">
			{{item}}
			<mat-icon class="project-list-item-icon"
					  (click)="deleteNew('cssExt', i)">close</mat-icon>
		</div>
		<div class="project-list-item"
			 *ngIf="projectConfigurationLists.cssExt.length==0">
			No hay ningún elemento.
		</div>
	</div>
</div>
<div class="project-line"
	 (click)="deploy('js')">
	<span>JS</span>
	<mat-icon class="project-line-icon"
			  [ngClass]="{'project-line-icon-rotate': row.js}">expand_more</mat-icon>
</div>
<div class="project-sub-line"
	 [ngClass]="{'project-sub-line-deployed': row.js}">
	<div>
		<mat-form-field class="field-value">
			<mat-label>JS</mat-label>
			<input matInput
				   [(ngModel)]="newItem.js"
				   name="new_js">
		</mat-form-field>
		<button mat-raised-button
				color="primary"
				class="field-button"
				(click)="addNew('js')"
				[disabled]="newItem.js==''">Añadir</button>
	</div>
	<div class="project-list">
		<div class="project-list-item"
			 *ngFor="let item of projectConfigurationLists.js; let i = index">
			{{item}}
			<mat-icon class="project-list-item-icon"
					  (click)="deleteNew('js', i)">close</mat-icon>
		</div>
		<div class="project-list-item"
			 *ngIf="projectConfigurationLists.js.length==0">
			No hay ningún elemento.
		</div>
	</div>
	<div>
		<mat-form-field class="field-value">
			<mat-label>JS Externos</mat-label>
			<input matInput
				   [(ngModel)]="newItem.jsExt"
				   name="new_js_ext">
		</mat-form-field>
		<button mat-raised-button
				color="primary"
				class="field-button"
				(click)="addNew('jsExt')"
				[disabled]="newItem.jsExt==''">Añadir</button>
	</div>
	<div class="project-list">
		<div class="project-list-item"
			 *ngFor="let item of projectConfigurationLists.jsExt; let i = index">
			{{item}}
			<mat-icon class="project-list-item-icon"
					  (click)="deleteNew('jsExt', i)">close</mat-icon>
		</div>
		<div class="project-list-item"
			 *ngIf="projectConfigurationLists.jsExt.length==0">
			No hay ningún elemento.
		</div>
	</div>
</div>
<div class="project-line"
	 (click)="deploy('libs')">
	<span>Librerías</span>
	<mat-icon class="project-line-icon"
			  [ngClass]="{'project-line-icon-rotate': row.libs}">expand_more</mat-icon>
</div>
<div class="project-sub-line"
	 [ngClass]="{'project-sub-line-deployed': row.libs}">
	<div>
		<mat-form-field class="field-value">
			<mat-label>Librería</mat-label>
			<input matInput
				   [(ngModel)]="newItem.libs"
				   name="new_lib">
		</mat-form-field>
		<button mat-raised-button
				color="primary"
				class="field-button"
				(click)="addNew('libs')"
				[disabled]="newItem.libs==''">Añadir</button>
	</div>
	<div class="project-list">
		<div class="project-list-item"
			 *ngFor="let item of projectConfigurationLists.libs; let i = index">
			{{item}}
			<mat-icon class="project-list-item-icon"
					  (click)="deleteNew('libs', i)">close</mat-icon>
		</div>
		<div class="project-list-item"
			 *ngIf="projectConfigurationLists.libs.length==0">
			No hay ningún elemento.
		</div>
	</div>
</div>
<div class="project-line"
	 (click)="deploy('extra')">
	<span>Valores extra</span>
	<mat-icon class="project-line-icon"
			  [ngClass]="{'project-line-icon-rotate': row.extra}">expand_more</mat-icon>
</div>
<div class="project-sub-line"
	 [ngClass]="{'project-sub-line-deployed': row.extra}">
	<div>
		<mat-form-field class="field-key">
			<mat-label>Clave</mat-label>
			<input matInput
				   [(ngModel)]="newItem.extraKey"
				   name="new_extra_key">
		</mat-form-field>
		<mat-form-field class="field-value">
			<mat-label>Valor</mat-label>
			<input matInput
				   [(ngModel)]="newItem.extraValue"
				   name="new_extra_value">
		</mat-form-field>
		<button mat-raised-button
				color="primary"
				class="field-button"
				(click)="addNew('extra')"
				[disabled]="newItem.extraKey=='' || newItem.extraValue==''">Añadir</button>
	</div>
	<div class="project-list">
		<div class="project-list-item"
			 *ngFor="let item of projectConfigurationLists.extra; let i = index">
			<strong>{{item.key}}</strong> {{item.value}}
			<mat-icon class="project-list-item-icon"
					  (click)="deleteNew('extra', i)">close</mat-icon>
		</div>
		<div class="project-list-item"
			 *ngIf="projectConfigurationLists.extra.length==0">
			No hay ningún elemento.
		</div>
	</div>
</div>
<div class="project-line"
	 (click)="deploy('dir')">
	<span>Directorios</span>
	<mat-icon class="project-line-icon"
			  [ngClass]="{'project-line-icon-rotate': row.dir}">expand_more</mat-icon>
</div>
<div class="project-sub-line"
	 [ngClass]="{'project-sub-line-deployed': row.dir}">
	<div>
		<mat-form-field class="field-key">
			<mat-label>Clave</mat-label>
			<input matInput
				   [(ngModel)]="newItem.dirKey"
				   name="new_dir_key">
		</mat-form-field>
		<mat-form-field class="field-value">
			<mat-label>Valor</mat-label>
			<input matInput
				   [(ngModel)]="newItem.dirValue"
				   name="new_dir_value">
		</mat-form-field>
		<button mat-raised-button
				color="primary"
				class="field-button"
				(click)="addNew('dir')"
				[disabled]="newItem.dirKey=='' || newItem.dirValue==''">Añadir</button>
	</div>
	<div class="project-list">
		<div class="project-list-item"
			 *ngFor="let item of projectConfigurationLists.dir; let i = index">
			<strong>{{item.key}}</strong> {{item.value}}
			<mat-icon class="project-list-item-icon"
					  (click)="deleteNew('dir', i)">close</mat-icon>
		</div>
		<div class="project-list-item"
			 *ngIf="projectConfigurationLists.dir.length==0">
			No hay ningún elemento.
		</div>
	</div>
</div>