<div *ngIf="loading"
	 class="loading-bg">
	<div class="loading-box">
		<img src="/assets/loading.svg"
			 alt="Cargando...">
		Cargando...
	</div>
</div>

<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-icon-button
				routerLink="/main">
			<mat-icon>arrow_back</mat-icon>
		</button>
		<span>Creador - {{project.name}}</span>
		<span class="flex-space"></span>
		<button mat-button
				(click)="saveProject()"
				*ngIf="!savingProject && !generatingProject">
			<mat-icon class="toolbar-button-icon">save</mat-icon>
			<span>Guardar proyecto</span>
		</button>
		<img src="assets/loading.svg"
			 class="loading-img"
			 *ngIf="savingProject || generatingProject">
	</mat-toolbar-row>
</mat-toolbar>

<mat-card class="center-card center-card-big">
	<mat-card-content>
		<mat-tab-group>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="tab-icon">assignment</mat-icon>
					Proyecto
				</ng-template>
				<div class="tab-top-margin center-card-fields">
					<mat-form-field>
						<mat-label>Nombre del proyecto</mat-label>
						<input matInput
							   [(ngModel)]="project.name"
							   required
							   name="name">
					</mat-form-field>
					<mat-form-field>
						<mat-label>Descripción</mat-label>
						<textarea matInput
								  cdkTextareaAutosize
								  #autosize="cdkTextareaAutosize"
								  cdkAutosizeMinRows="5"
								  cdkAutosizeMaxRows="15"
								  [(ngModel)]="project.description"></textarea>
					</mat-form-field>
				</div>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="tab-icon">build</mat-icon>
					Configuración
				</ng-template>
				<app-configuration #configuration></app-configuration>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="tab-icon">view_list</mat-icon>
					Modelo
				</ng-template>
				<app-model #model></app-model>
			</mat-tab>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="tab-icon">library_add</mat-icon>
					Incluir
				</ng-template>
				<app-includes #includes></app-includes>
			</mat-tab>

			<mat-tab *ngIf="project.id">
				<ng-template mat-tab-label>
					<mat-icon class="tab-icon">cloud_download</mat-icon>
					Descargar
				</ng-template>
				<div class="project-download">
					<h3>Descargar proyecto</h3>
					<p>Fecha de última modificación del proyecto: {{project.updatedAt}}</p>
					<p *ngIf="project.lastCompilationDate">Fecha de última compilación: {{project.lastCompilationDate}}</p>
					<p>
						<button mat-raised-button
								color="primary"
								[disabled]="generatingProject"
								(click)="generateProject()">Compilar proyecto</button>
					</p>
					<ul class="project-download-tasks"
						*ngIf="generatingProject || generatedProject">
						<li class="project-download-working"
							[ngClass]="{'project-download-done':generateStep>0}">
							<mat-icon *ngIf="generateStep>0">check_circle_outline</mat-icon>
							Crear estructura básica
						</li>
						<li [ngClass]="{'project-download-working':generateStep==1, 'project-download-done':generateStep>1}">
							<mat-icon *ngIf="generateStep>1">check_circle_outline</mat-icon>
							Crear archivo de configuración
						</li>
						<li [ngClass]="{'project-download-working':generateStep==2, 'project-download-done':generateStep>2}">
							<mat-icon *ngIf="generateStep>2">check_circle_outline</mat-icon>
							Crear modelos
						</li>
						<li [ngClass]="{'project-download-working':generateStep==3, 'project-download-done':generateStep>3}">
							<mat-icon *ngIf="generateStep>3">check_circle_outline</mat-icon>
							Añadir archivos
						</li>
						<li [ngClass]="{'project-download-working':generateStep==4, 'project-download-done':generateStep>4}">
							<mat-icon *ngIf="generateStep>4">check_circle_outline</mat-icon>
							Comprimir en Zip
						</li>
					</ul>
					<p>
						<button mat-raised-button
								color="primary"
								[disabled]="generatingProject || !project.lastCompilationDate"
								(click)="downloadProject()">Descargar proyecto</button>
					</p>
				</div>
			</mat-tab>

			<mat-tab *ngIf="project.id && !generatingProject">
				<ng-template mat-tab-label>
					<mat-icon class="tab-icon">delete_forever</mat-icon>
					Borrar
				</ng-template>
				<div class="project-delete">
					¿Estás seguro de querer borrar este proyecto? Esta es una acción irreversible.
					<br>
					<button mat-raised-button
							color="warn"
							[disabled]="deletingProject"
							(click)="deleteProject()">
						<mat-icon class="tab-icon">delete_forever</mat-icon>
						Confirmar
					</button>
				</div>
			</mat-tab>

		</mat-tab-group>
	</mat-card-content>
</mat-card>