<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Creador</span>
	</mat-toolbar-row>
</mat-toolbar>

<div class="loading" *ngIf="loading">Cargando...</div>

<mat-nav-list *ngIf="!loading && !loadError">
	<a mat-list-item *ngFor="let project of projects" [routerLink]="['/project', project.id, project.slug]">
		<h3 matLine> {{project.name}} </h3>
	</a>
	<mat-list-item *ngIf="projects.length==0">
		¡Todavía no hay ningún proyecto! Añade el primero pulsando el icono "+".
	</mat-list-item>
</mat-nav-list>

<div class="loading" *ngIf="!loading && loadError">Ocurrió un error al cargar los proyectos.</div>

<button mat-fab class="btn-bottom-right" routerLink="/new-project" [disabled]="loadError">
	<mat-icon>add</mat-icon>
</button>