@for (inc of includeTypes; track inc.id) {
<fieldset class="project-include">
	<legend>
		{{inc.name}}
		@if (inc.selected) {
		<a href="#"
		   class="remove-selected-include"
		   (click)="removeSelectedInclude($event,inc)">Quitar</a>
		}
	</legend>
	<mat-radio-group aria-label="Select an option"
					 [(ngModel)]="inc.selected">
		<mat-list role="list">
			@for (version of inc.versions; track version.id) {
			<mat-list-item>
				<div class="project-include-row">
					{{version.version}}
					<mat-radio-button [value]="version.id"></mat-radio-button>
				</div>
			</mat-list-item>
			}
		</mat-list>
	</mat-radio-group>
</fieldset>
}