<div class="project-header">
  <button mat-flat-button
          color="primary"
          (click)="addModel()"
          matTooltip="Añadir un nuevo modelo a este proyecto">
    <mat-icon>add</mat-icon>
    Añadir modelo
  </button>
</div>

@for (model of projectModel(); track model.id; let i = $index) {
<mat-card class="project-card">
  <mat-card-content>
    <div class="project-model-header">
      <mat-form-field class="field-key">
        <mat-label>Nombre</mat-label>
        <input matInput
               [(ngModel)]="model.name"
               name="model_name">
      </mat-form-field>
      <mat-form-field class="field-key">
        <mat-label>Nombre de la tabla</mat-label>
        <input matInput
               [(ngModel)]="model.tableName"
               name="model_table_name">
      </mat-form-field>
      <button mat-flat-button
              color="warn"
              (click)="deleteModel(i)"
              matTooltip="Borrar este modelo">
        <mat-icon>delete</mat-icon>
        Borrar
      </button>
      <button mat-flat-button
              color="primary"
              (click)="addModelRow(i, model)"
              matTooltip="Añadir un nuevo campo a este modelo">
        <mat-icon>add</mat-icon>
        Añadir campo
      </button>
    </div>
    <div class="project-model-rows-title">
      <button mat-button
              (click)="openModel(model)"
              matTooltip="Mostrar/ocultar los campos de este modelo">
        <mat-icon class="project-model-rows-icon"
                  [class]="{'project-model-rows-icon-open': model.open}">chevron_right</mat-icon>
        Campos ({{model.rows.length}})
      </button>
    </div>
    <div class="project-model-rows"
         [class]="{'project-model-rows-open': model.open}">
      @for (row of model.rows; track row.id; let j = $index) {
      <div class="project-model-row">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput
                 [(ngModel)]="row.name"
                 name="row_name"
                 class="project-model-row-name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <mat-select [(value)]="row.type">
            @for (opt of modelRowTypes; track opt.id) {
            <mat-option [value]="opt.id">{{opt.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        @if (row.type === 5) {
        <mat-form-field>
          <mat-label>Tamaño</mat-label>
          <input matInput
                 [(ngModel)]="row.size"
                 name="row_size">
        </mat-form-field>
        }
        @if (row.type === 1) {
        <mat-checkbox [(ngModel)]="row.autoIncrement">Auto increment</mat-checkbox>
        }
        @if (row.type === 3 || row.type === 4 || row.type === 5 || row.type === 6 || row.type === 8 || row.type === 9) {
        <mat-checkbox [(ngModel)]="row.nullable">Null?</mat-checkbox>
        }
        @if (row.type === 4 || row.type === 5 || row.type === 6 || row.type === 8 || row.type === 9) {
        <mat-form-field>
          <mat-label>Valor por defecto</mat-label>
          <input matInput
                 [(ngModel)]="row.defaultValue"
                 name="row_default">
        </mat-form-field>
        }
        @if (row.type === 7) {
        <mat-form-field>
          <mat-label>Valor por defecto</mat-label>
          <mat-select [(value)]="row.defaultValue">
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </mat-form-field>
        }
        <mat-form-field>
          <mat-label>Referencia</mat-label>
          <input matInput
                 [(ngModel)]="row.ref"
                 name="row_ref">
        </mat-form-field>
        <button mat-flat-button
                color="warn"
                class="project-model-row-delete"
                (click)="deleteModelRow(i, j)"
                matTooltip="Borrar este campo">
          <mat-icon>delete</mat-icon>
          Borrar
        </button>
        <span class="project-model-row-delete">
          <button mat-icon-button
                  (click)="moveRow(i, j, 'down')"
                  matTooltip="Mover este campo hacia abajo">
            <mat-icon>expand_more</mat-icon>
          </button>
          <button mat-icon-button
                  (click)="moveRow(i, j, 'up')"
                  matTooltip="Mover este campo hacia arriba">
            <mat-icon>expand_less</mat-icon>
          </button>
        </span>
        <mat-form-field class="project-model-comment">
          <mat-label>Comentario</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="15"
                    [(ngModel)]="row.comment"></textarea>
        </mat-form-field>
      </div>
      }
      @empty {
      <div class="project-model-row">Todavía no hay ningún campo en este modelo.</div>
      }
    </div>
  </mat-card-content>
</mat-card>
}